#search-panel
  %h1.text-center
    Twitter Search

  #tagline
    %p
      Twitter handles search that
      %span.label.label-default just
      work.

  #social.hidden-xs
    %iframe{id: "gh-fork", src: "http://ghbtns.com/github-btn.html?user=algolia&repo=twitter-search&type=fork", allowtransparency: "true", frameborder: "0", scrolling: "0", width: "53px", height: "20px"}
    %iframe{id: "gh-start", src: "http://ghbtns.com/github-btn.html?user=algolia&repo=twitter-search&type=watch&count=true", allowtransparency: "true", frameborder: "0", scrolling: "0", width: "110px", height: "20px"}
    %a.twitter-follow-button{href: "https://twitter.com/algolia", "data-show-count" => "false", "data-show-screen-name" => "true"}Follow @algolia
    %a.twitter-share-button{href: "https://twitter.com/share", "data-url" => root_url, "data-via" => "algolia"} Tweet

  .search_box-wrapper
    .search_box
      %form#search-form{method: "get", action: '#', onsubmit: 'return false;'}
        #inputfield
          %input.autocomplete{autocomplete: 'off', placeholder: 'Twitter handle, name, profile description...', type: 'text', spellcheck: 'false'}
        .searchbutton
          %i.glyphicon.glyphicon-search
        #hits  

  %p.text-center
    %span.label.label-warning.text-small NOT READY YET
    Crawl in progress...

:javascript
  $(document).ready(function() {
    new TwitterSearch('#{ENV['ALGOLIASEARCH_APPLICATION_ID']}', '#{ENV['ALGOLIASEARCH_API_KEY_RO']}', '#{Handle.index_name}');
  });
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");